<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-dropleft-circle"></ion-back-button>
    </ion-buttons>
    <ion-title>All Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let x of cardioTrainingList;" text-wrap (click)='exerciseRecorder(x)'>
      <ion-item>
        <ion-label> {{x.exerciseName}} </ion-label>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)='delete(x)'>
        <ion-item-options (click)='delete(x)' size="large" expandable>
          <ion-icon size="large" color="danger" name="close-circle"></ion-icon>
        </ion-item-options>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="newExercise()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>