<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-dropleft-circle"></ion-back-button>
    </ion-buttons>
    <ion-title>All Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (click)="exerciseRecorder()">
      <ion-label>Tredmill</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Cross Trainer</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Stair Machine</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Bike</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Rowing Machine</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Boxing</ion-label>
    </ion-item>
  </ion-list>

</ion-content>