<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-dropleft-circle"></ion-back-button>
    </ion-buttons>
    <ion-title>All Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="exerciseRecorder()">
      <ion-label>Squats</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Stiff Leg Deadlifts</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Front Squats</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Box Squats</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Hamstring Curls</ion-label>
    </ion-item>

    <ion-item (click)="exerciseRecorder()">
      <ion-label>Leg Extensions</ion-label>
    </ion-item>
  </ion-list>

</ion-content>