<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button text="Register" icon="log-in"></ion-back-button> <!-- Back button implementation -->
    </ion-buttons>
    <ion-title>All Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- this block creates list items for each of the items that are in the 'backTrainingList' array in the classes
  type script document. -->
  <ion-list>
    <ion-item-sliding *ngFor="let x of backTrainingList;" text-wrap (click)='exerciseRecorder(x)'>
      <ion-item>
        <ion-label> {{x.exerciseName}} </ion-label>
      </ion-item>
      <ion-item-options side="end" (ionSwipe)='delete(x)'> <!-- this allows swipe to delete functionality on the list items -->
        <ion-item-options  (click)='delete(x)' size="large" expandable>
          <ion-icon size="large" color="danger" name="close-circle"></ion-icon>
        </ion-item-options>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <section>
    <ion-button size="default" expand="full" color="danger" (click)='delete()'>Delete</ion-button>
  </section>

  <!-- This block is the creation of the 'Add Custom Exercise' feature. The inputs are entered in into the
   array in the type script of the class -->

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button color="danger" (click)="newExercise()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>