<ion-header>
  <ion-toolbar>
    <ion-title>BackList</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- need to have a create custom excersie option -->

  <ion-list>
    <ion-item>
      <ion-label>Barbell Rows</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Dumbell Rows</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Deadlifts</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Lat Pulldowns</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Lat Machine Rows</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Core</ion-label>
    </ion-item>
  </ion-list>

</ion-content>