<!-- This is the creation of the menu slide bar that obtains and displays information from the type script. -->
<ion-menu side="start" menuId="customMenu">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages;" text-wrap (click)='sendInfo()'
      [class.active-item]="selectedPath === p.url">
      <ion-item [routerLink]="p.url" routerDirection="root">
        {{p.title}}
      </ion-item>
    </ion-menu-toggle>
    </ion-list>
  </ion-content> 
</ion-menu>
<ion-router-outlet main></ion-router-outlet>
<!-- this is the header that is usually seen when the menu is not slide/opened -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <!-- <ion-back-button text="" icon="arrow-dropleft-circle"></ion-back-button>  -->
    </ion-buttons>
    <ion-title>Exercise Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- this is the weights toggle bar -->
  <ion-item>
    <ion-icon name="remove-circle" (click)="decrementWeight()"></ion-icon>
    <ion-label class="alignme"> Weight: </ion-label>
    <ion-input placeholder=0 type="number" [(ngModel)]="currentWeight"></ion-input>
    <ion-icon name="add-circle" (click)="incrementWeight()"></ion-icon>
  </ion-item>

  <!-- this is the reps toggle bar -->
  <ion-item>
    <ion-icon name="remove-circle" (click)="decrementReps()"></ion-icon>
    <ion-label class="alignme"> Reps: </ion-label>
    <ion-input placeholder=0 type="number" [(ngModel)]="currentReps"></ion-input>
    <ion-icon name="add-circle" (click)="incrementReps()"></ion-icon>
  </ion-item>

  <!-- A button to submit the weight and the reps -->
  <section>
    <!-- keep a count of how many times this was selected as this is a representation of how many sets their are -->
    <ion-button size="default" expand="full" color="success" (click)="submit()">Save</ion-button>
  </section>

  <!-- display of the submitted exercises -->
  <ion-card ion-card *ngFor="let x of newSet;" text-wrap (click)='selectCard(x)'>
    <ion-card-header>
      <!-- Set: {{x.id}} -->
      <ion-card-subtitle>{{x.weight}} kg's </ion-card-subtitle>
      <ion-card-subtitle>{{x.reps}} Reps </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- delete button implementation -->
  <section>
    <ion-button size="default" expand="full" color="danger" (click)='delete()'>Delete</ion-button>
  </section>

</ion-content>

