<ion-header>
  <ion-toolbar>
    <ion-title>newRecord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- if the user has no workouts today then show then a card displaying no information -->
  <ion-card *ngIf="!workoutToday; else displayWorkouts">
    <ion-card-header>
      No workouts today
    </ion-card-header>
  </ion-card>
<!-- else the user has been working out today, therefore give an overview of everything the user has done today -->
  <ion-card *ngFor="let x of ((userPosts | async)?.exerciseRecord)" #displayWorkouts>
    <ion-card-header>
      Set: {{x.iden}}
      <ion-card-subtitle> {{ x.exercise }}</ion-card-subtitle>
      <ion-card-subtitle> Weight: {{ x.w }}</ion-card-subtitle>
      <ion-card-subtitle> Reps: {{ x.r }} </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
<!-- button that allows the user to enter in new workout details -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="danger" (click)="newWorkout()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>