

<ion-content>
    <ion-header>
        <ion-toolbar color="primary">
          <ion-title>{{viewTitle}}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="today()">Today</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>


  <ion-card>
    <ion-card-header tappable (click)="collapseCard = !collapseCard">
      <ion-card-title> Add Workout Plan </ion-card-title>
    </ion-card-header>

    <ion-card-content *ngIf="!collapseCard">
      <ion-item>
        <ion-input type="text" placeholder="Title" [(ngModel)]="event.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Description" [(ngModel)]="event.desc"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Start</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormet="MMM D:HH:mm" [(ngModel)]="event.startTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormet="MMM D:HH:mm" [(ngModel)]="event.endTime"
          [min]="minDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Set Reminder?</ion-label>
        <ion-checkbox [(ngModel)]="event.reminder"></ion-checkbox>
      </ion-item>
      <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''"> Add Workout</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <!-- changing the display of the calendar mode -->
    <ion-col size="4">
      <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'dark'" (click)="changeMode('month')">Month</ion-button>
    </ion-col>
    <ion-col size="4">
        <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'dark'" (click)="changeMode('week')">Week</ion-button>
      </ion-col>
      <ion-col size="4">
          <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'dark'" (click)="changeMode('day')">Day</ion-button>
        </ion-col>
  </ion-row>

  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
    (onEventSelected)="onEventSelected($event)" (onTitleChanged)="onViewTitleChanged($event)"
    (onTimeSelected)="onTimeSelected($event)" startHour="7" endHour="20" step="30" startingDayWeek="1">
  </calendar>


</ion-content>